* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;

}

/* REGOLE DI DEBUG */

.border {
    border: 1px dashed red;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}



.debug .footer-tools {
    background-color: crimson;
}

.debug .sidebar-nav {
    background-color: #8ca8f0;
}
.debug .sidebar-playlist {
    background-color: cadetblue;
}
/* UTILITY */


.btn {
    background-color: rgba(8, 11, 18, 0.6);
    color: white;
    border-radius: 30px;
    border: 1px white solid;
    padding: 10px;
    text-decoration: none;
}

.dsp-none {
    display: none;
}

.dsp-block {
    display: block;
}

.text-white {
    color: white;
}

.text-gray {
    color: #6E6E6E;

}

.ml-10 {
    margin-left: 10px;
}

/* REGOLE CSS */

footer {
    width: 100%;
    height: 100px;
    background-color: #282828;
    justify-content: space-between;
    align-items: center;
}

.footer-tools {
    width: calc(100% / 3 - 10px);
    /* margin: 0 10px; */
}

main {
    /* background-color: #141922; */
    height: calc(100vh - 100px);
    overflow: hidden;

}


.top-bar {
    background-color: rgba(8, 11, 18, 0.7);
    width: calc(100% - 50px);
    height: 70px;
    position: fixed;
    z-index: 100;
    right: 0px;
    top: 0;

}

#sidebar {
    width: 50px;
    /* background-color: black; */
    /* color: #6E6E6E; */
    text-align: center;
    /* padding: 10px; */
}

#sidebar img {
    max-height: 30px;
    margin: 5px 0;
}

.sidebar-top {
    height: calc(100% - 100px);
    background-color: rgb(219, 94, 17);
}
.sidebar-bottom {
    height: 100px;
    background-color: rgb(96, 192, 157);
}




.add-playlist {
    padding: 5px 0;
}

.side-list ul li {
    list-style: none;
    text-align: left;
    padding: 5px 0;
}



.content {
    width: calc(100% - 50px);
    overflow-y:hidden;
    background-color: #141922;
    padding: 0 10px

}

.content ul {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.content ul li {
    padding: 0 20px;
}

.content ul li a {
    text-decoration: none;
    color: #7D7F84;
}

.position-btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.disco-music {
    width: calc(50% - 20px);
    margin: 10px;
    text-align: center;
    color: white;
}

.disco-music img {
    width: 100%;
}

/* .img-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 100%;


    height: calc(100vh - 100px);
} */

.d-flex .up,
.d-flex .down {
    align-items: center;
}

.d-flex .up {
    position: absolute;
    bottom: 40px;
    left: 0px;
    width: 100%;
    /* border-bottom: 1px solid #808080;
    padding-bottom: 5px; */
    /* text-decoration: underline; */

}

.hr-space {
    position: absolute;
    bottom: 40px;
    left: 10px;
    width: 180px;
    size: 2px;
}

.d-flex .down {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

}

#img1 {
    height: 20px;

}

#img2 {
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-radius: 100%;
    background-color: #808080;
    padding: 1px;
}

@media screen and (min-width: 576px) {

    #sidebar {
        width: 200px;
    }

    .content {
        width: calc(100% - 200px);
    }

    .top-bar {
        width: calc(100% - 200px);
    }


    .side-flex{
        display: flex;
        align-items: center;

    }

    .dsp-none {
        display: flex;
    }

    .dsp-block {
        display: none;
    }

}

@media screen and (min-width: 768px) {

    .disco-music {
        width: calc(25% - 20px);
        margin: 10px;
    }

}

@media screen and (min-width: 992px) {

    .disco-music {
        width: calc(100% / 6 - 20px);
        margin: 10px;
    }

}